<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android" >

    <!-- permissions -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- service -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" android:minSdkVersion="28" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <!-- alarms -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:supportsRtl="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".utils.ApplicationInstance" >

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".ui.activity.ShortcutActivity"
            android:taskAffinity="" />

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/settingsActivityTitle"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activity.MainActivity" />

        <activity
            android:name=".ui.activity.InfoActivity"
            android:label="@string/infoActivityTitle"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activity.MainActivity" />

        <service
            android:name="de.eric_scheibler.tactileclock.utils.TactileClockService"
            android:foregroundServiceType="specialUse"
            android:exported="false" >
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="The service permanently listens for screen on/off intents to detect a power button double click).
                        If a double click is detected the service vibrates the current time.
                        It is intended as an accessibility feature for blind people to determine the current time in loud surroundings without screen interaction." />
        </service>

        <receiver
            android:name="de.eric_scheibler.tactileclock.utils.ScreenReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
